{% extends 'base.html' %}
{% load static %}

{% block title %}Menu{% endblock title %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramen Shop</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<!-- <nav>
    <div class="menu-bg-header"></div>
</nav> -->
<body class="menu-bg">
        <section class="menu">
            <div class="container">
                <div class="menu-header">Full Menu</div>
                <div class="grid">
                    <div class="hold">
                        <div class="menu-box">
                            <div class="gyoza-image">
                            </div>
                            <h1 class="menu-title">Gyoza</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$5.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="calamari-image">
                            </div>
                            <h1 class="menu-title">Calamari</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$5.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="tonkotsu-ramen-image">
                            </div>
                            <h1 class="menu-title">Tonkotsu Ramen</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$10.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="miso-ramen-image">
                            </div>
                            <h1 class="menu-title">Miso Ramen</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$10.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="chicken-curry-image">
                            </div>
                            <h1 class="menu-title">Chicken Curry</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$12.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="beef-curry-image">
                            </div>
                            <h1 class="menu-title">Beef Curry</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$12.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="salad-image">
                            </div>
                            <h1 class="menu-title">Green Salad</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$9.00</h3>
                        </div>
                    </div>
                    <div class="hold">
                        <div class="menu-box">
                            <div class="tofu-salad-image">
                            </div>
                            <h1 class="menu-title">Tofu Salad</h1>
                            <p class="menu-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aperiam
                                ratione laudantium, ipsam tempora labore porro id consequuntur cum ducimus autem voluptatum
                                adipisci magnam et temporibus ex totam qui iusto.</p>
                            <h3 class="cost">$9.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>
{% endblock content %}